<% layout('/layouts/boilerplate.ejs')%>
<h1>Edit Campground</h1>
<form action="/campgrounds/<%=camground._id%>?_method=PUT" method="POST">
<label for="title">Title</label>
<input type="text" id="title" placeholder="Enter the title" name="title" value="<%= camground.title %>">
<br>
<br>
<label for="Location">Location</label>
<input type="text" id="Location" placeholder="Enter the Location" name="location" value="<%= camground.location%>">
<br>
<br>
<button>Edit</button>
</form>

