<% layout('/layouts/boilerplate.ejs') %>
<h1>This is a campground</h1>
<h1><%= camground.title %></h1>
<h2><%= camground.location %></h2>
<a href="../campgrounds/">Back</a>
<a href="/campgrounds/<%= camground._id %>/edit">Edit</a>
<form action="/campgrounds/<%= camground._id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>

