<% layout('/layouts/boilerplate.ejs')%>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1563024767-5bd8ee292c3f?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" crossorigin="anonymous">
                <div class="card-body">
                    <h4 class="mx-auto mb-4 card-title" style="width: fit-content;">Ease-Camp Login</h4>
                    <div>
                        <form action="/login" method="post" class="needs-validation" novalidate>
                            <div class="form-floating mb-3">
                                <input type="text" id="Username" placeholder="Enter the Username" name="username" class="form-control" autofocus required>
                                <label for="Username">Username</label>
                                <div class="valid-feedback">
                                    Looks Good
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" id="password" placeholder="Enter the password" name="password" class="form-control" required>
                                <label for="password">Password</label>
                                <div class="valid-feedback">
                                    Looks Good
                                </div>
                            </div>
                            <div class="button d-flex justify-content-center">
                                <button class="btn btn-success">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>